<h1>Showing article details</h1>

<p><b>Title: </b><%=@article.title%></p>
<p><b>Description: </b><%=@article.description%></p>

<table>
  <td><%= link_to 'Back to all articles', articles_path %></td>
</table>