<div id="page-content">
  <div class="jumbotron">
    <div class="container text-center text-white" id="jumbo">
      <h1 class="display-4" id="jumbo_text">Alpha Blog</h1>
      <p class="lead" id="jumbo_text">Welcome to Alpha Blog, the web's premiere blogging site</p>
      <button type="button" class="btn btn-success"><%= link_to "Sign up!", signup_path %></button>
    </div>
  </div>
</div>