@import 'bootstrap';

.navbar {  
  background-color: black !important;
}

.jumbotron {  
  background-image: url(jumbo_bg.jpg);
  background-size: cover;
  background-position: center center;
  margin-top: 25px;
  margin-right: 100px;
  margin-left: 100px;
  height: 550px;
}

#jumbo {
  padding: 70px 0;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  
}

#sticky-footer {
  flex-shrink: none;
}

body {
  background-color: lightgrey;
}