@import 'bootstrap';

.navbar {  
  background-color: black !important;
}

.jumbotron {  
  background-image: url(jumbo_bg.jpg) !important;
  background-size: cover;
}

#jumbo {  
  text-align: center;
  }

#jumbo_text {
  color: white;
}