<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= link_to "ALPHA BLOG", root_path, class: "navbar-brand", id: "logo" %>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-link" href="<%= articles_path %> ">Articles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="<%= "#" %>">About</a>
      </li>         
    </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
  </div>
</nav>

